<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <title>게시글 등록</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/post/post.css">
</head>

<div layout:fragment="content">
    <!--post-->
    <section class="main-box">
        <div class="inner">
            <div class="sub_title">
                <h2>게시물 등록</h2>
            </div>
            <form action="#" name = "post" method="get">
                <div class="box">
                    <select name="board_title">
                        <option value="board1">국내</option>
                        <option value="board2">해외</option>
                    </select>
                    <select name="region" >
                        <option value="region1">서울</option>
                        <option value="region2">경기</option>
                        <option value="region3">강원도</option>
                    </select>
                    <select name="theme" >
                        <option value="theme1">가족</option>
                        <option value="theme2">친구</option>
                    </select>
                    <input type="text" name="post_writer" placeholder="닉네임"/>
                    <input type="password" name="password" placeholder="비밀번호"/>
                </div>
                <div class="box">
                    <input type="text" class="form-control" id="title" name="title" maxlength="30" placeholder="게시글 제목 입력 (최대 30자)" required="">
                </div>
                <div class="box">
                    <textarea class="form-control" id="content" name="content" placeholder="내용 입력"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">등록</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back();">
                    취소
                </button>
            </form>
        </div>
    </section>
    <!--//post-->
</div>
</html>