<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <link rel="stylesheet" href="/css/main.css">
</head>

<div layout:fragment="content">
    <!--post-->
    <section class="main-box">
        <div class="inner">
            <div class="post_content inner2">
                <div class="sub_title">
                    <h2>게시물 제목</h2>
                </div>
                <p>게시글 내용</p>
            </div>




        </div>
    </section>
    <!--//post-->
</div>
</html>