
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer id="footer" th:fragment="footer">
        <div class="inner">
            <div class="footer_top">
                <div class="footer_logo">
                    <a href="">
                        <img src="/images/logo_02.png" alt="">
                    </a>
                </div>
                <div class="footer_icon">
                    <ul>
                        <li><a href=""><img src="/images/instagram.png" alt="인스타 로고"></a></li>
                        <li><a href=""><img src="/images/youtube.png" alt="유튜브 로고"></a></li>
                        <li><a href=""><img src="/images/github.png" alt="깃헙 로고"></a></li>
                    </ul>
                </div>
            </div>
            <div class="top_bottom">
                <div class="info">
                    <span>사업자등록번호 199-31- 02213</span>
                    <span>(주)트렉트러버스 코리아 대표이사 박진희</span>
                    <span>TEL : 010) 7252-**** / E-mail : parkjin***@gmail.c**</span>
                    <span>개인정보 책임자 : 박진희</span>
                </div>
                <p class="copyright">&copy; <span class="this-year"></span> Starbucks Coffee Company. All Rights Reserved.</p>
            </div>


        </div>
    </footer>
</div>
</html>