

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <header id="header">
        <div class="inner">
            <div class="header-container">
                <div class="header-logo">
                    <a href="/">
                        <img src="/images/logo_01.png" alt="trektraverse logo">
                    </a>
                </div>
                <nav>
                    <ul>
                        <li th:each="board : ${boards}">
                            <a
                               th:href="@{/boards/{boardId}(boardId=${board.id})}"
                               th:text="${board.boardTitle}"
                               >

                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="second_nav">
                    <div class="nav-em">
                        <div class="search">
                            <input type="text" placeholder=""/>
                            <span class="material-icons">search</span>
                        </div>
                    </div>
                    <div class="nav-box">
                        <div class="makeBoard">
                            <a th:href="@{/themes/create}" >테마 만들기</a>
                        </div>
                    </div>
                    <div class="nav-box nav-box2">
                        <div class="writePost">
                            <a th:href="@{/posts/create}">글쓰기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</html>

