<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <div layout:fragment="content">
    <!--main_visual-->
    <section class="main_visual">
        <div class="inner">
            <div class="main">
                <div class="main_img">
                    <img src="/images/main_02.png" alt="메인 로고 이미지 여행 소품 및 지구본">
                </div>
                <div class="main_title">
                    <h1>어느 여행이든<br>최적의 경로로 이동해요</h1>
                    <p>즐겁게 여행을 준비하고, 먼저 다녀올 프로 여행자의 리얼한 여행기와 리뷰에서<br>숨은 꿀Tip을 확인해요.</p>
                </div>
            </div>
        </div>
    </section>
    <!--//main_visual-->

    <!--Hot_post-->
    <section class="section">
        <div class="Hot_post">
            <div class="inner">
                <div class="sub_title">
                    <h2>지금 가장 HOT&#x1F525한 방문지 TOP 12</h2>
                </div>
                <div class="main_list">

                </div>
            </div>
        </div>

    </section>
    <!--//Hot_post-->

    <!--Theme_post-->
    <section class="section">
        <div class="Theme_post">
            <div class="inner">
                <div class="sub_title">
                    <h2>테마 여행기 &#x1F9ED</h2>
                </div>
                <div class="main_list">

                </div>
            </div>
        </div>

    </section>
    <!--//Theme_post-->

</div>
</html>