<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>

  <title>테마 추가</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container my-5">
    <div class="header mb-5">
      <h1 class="text-center">나만의 테마</h1>
    </div>
    <form th:action="@{/themes/create}" method="post">
      <div class="mb-3">
        <label for="themeTitle">테마 이름</label>
        <input
                type="text"
                class="form-control"
                id="themeTitle"
                name="themeTitle"
                maxlength="20"
                placeholder="게시판 이름 입력 (최대 20자)"
                required
        />
      </div>
      <div class="md-3">
        <input type="password" class="form-control" id="themePw" name="themePw" placeholder="6자 미만으로 입력해주세요">
      </div>



      <button type="submit" class="btn btn-primary">게시판 추가</button>
      <button
              type="button"
              class="btn btn-secondary"
              onclick="window.history.back();"
      >
        취소
      </button>
    </form>
  </div>
</div>

</body>
</html>
