<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" />

  <title>테마 수정</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container my-5">
    <div class="header mb-5">
      <h1 class="text-center">테마 수정</h1>
    </div>
    <form
            th:action="@{/themes/{themeId}/edit(themeId=${theme.id})}"
            method="post"
    >
      <div class="mb-3">
        <label for="themeTitle">게시판 이름</label>
        <input
                type="themeTitle"
                class="form-control"
                id="themeTitle"
                name="themeTitle"
                maxlength="20"
                placeholder="게시판 이름 입력 (최대 20자)"
                required
                th:value="${theme.themeTitle}"
        />
      </div>
      <div class="md-3">
        <input type="password" class="form-control" id="themePw" name="themePw" placeholder="6자 미만으로 입력해주세요">
      </div>

      <button type="submit" class="btn btn-primary">게시판 수정</button>
      <button
              type="button"
              class="btn btn-secondary"
              onclick="window.history.back();"
      >
        취소
      </button>
    </form>
  </div>

</div>


</body>
</html>
